
div.container {
    padding: 0;
    overflow: overlay;
}

.caroucel {
    height: 500px;
}

.row-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-around;
    background-color: lightgray;

}
.row {
    display: inline-block;
    list-style-type: none;
    padding: 10px 30px;
}

a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
}

.row:hover {
    background-color: rgb(185, 185, 185);
}

.news-title {
    position: relative;
}

h1 {
    text-align: center;
}

mat-tab, mat-tab-group {
    width: 100%;
}

.news-layout {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    overflow: overlay;
}
.news-content {
    display: flex;
    max-height: 150px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-evenly;
    overflow: auto;
}

.news-image {
    width: 300px;
    height: 150px;
    display: flex;
    margin-top: 10px;
    margin-right: 10px;
}

h3 {
    display: inline-block;
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

p {
    text-align: justify;
    text-justify: inter-word;
    margin: 0px;
    max-height: 150px;
    width: 100%;
    max-width: 800px;
    display: block
}