<div class="container">
    <div class="caroucel">
        <app-carousel [banners]="news"></app-carousel>
    </div>
    <div class="row">
        <ul>
            <li>
                <a routerLink="/client-center/services">
                    <mat-icon>room</mat-icon>
                    Services
                </a>
            </li>
            <li *ngIf="(isLogged$ | async)">
                <a routerLink="/shipments">
                    <mat-icon>pageview</mat-icon> Find Shipment
                </a>
            </li>
            <li *ngIf="(isLogged$ | async)">
                <a routerLink="/shipments/create">
                    <mat-icon>local_shipping</mat-icon> Create Shipment
                </a>
            </li>
            <li *ngIf="(isLogged$ | async)">
                <a routerLink="/client-center/claims">
                    <mat-icon>content_paste</mat-icon> Report shipment
                </a>
            </li>
        </ul>
    </div>

    <div class="news-title">
        <h1>NEWS</h1>
    </div>

    <div class="main-container">
        <mat-tab-group [selectedIndex]="selectedIndex">
            <ng-container *ngFor="let news of news">
                <mat-tab class="news-label" [label]="news.title">
                    <div class="news-layout">
                        <img class="news-image" [src]="news.imageUrl">
                        <div class="news-content">
                            <h3>{{news.title}}</h3>
                            <p>{{news.description}}</p>
                        </div>
                    </div>

                </mat-tab>
            </ng-container>
        </mat-tab-group>

    </div>

</div>

