<div>
    <h1>Qusetions & Answers</h1>
    <div fxLayout fxLayoutAlign="center center">
        <mat-form-field fxFlex="40%">
            <input matInput type="text" [(ngModel)]="searchValue" placeholder="Filter">
        </mat-form-field>
    </div>
    <div fxLayout fxLayoutAlign="center center">
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>View More</th>
                    <th *ngIf="(isAdmin$ | async)">Delete</th>
                </tr>
            </thead>
            <tbody *ngFor="let question of questions | searchQuestion: searchValue">
                <tr #questionRow>
                    <td #questionId [id]="question._id">{{question.title}}</td>
                    <td>
                        <button mat-icon-button color="accent" (click)="toogleInfo(question)">
                            <mat-icon class="mat-18">info</mat-icon>
                        </button>
                    </td>
                    <td *ngIf="(isAdmin$ | async)">
                        <button mat-icon-button color="warn" (click)="openModal($event, questionId?.id, questionRow)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="question.showDetails">
                    <td colspan="3">
                        <span>
                            {{question.description}}
                        </span>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>