
div.container {
    width: 100%;
    margin: auto;
    display: flex;
    padding-top: 5%;
}

app-loader {
    z-index: 9999;
}

mat-label {
    margin: 0px;
    padding: 0px;
    position: relative;
    display: block;
}

mat-label.label-form {
    font-weight: bold;
}

.gender{
    margin: auto;
    padding: 10px;
}

.frame {
    height: 100%;
    display: block;
    width: 100%;
}
mat-card {
    margin: auto;
    border-radius: 10px;
    text-align: center;
}

.mat-card.mat-focus-indicator {
    box-shadow: none
}

mat-form-field {
    margin: auto;
    width: 350px;
    display: block;
    position: relative;
    text-align: justify;
}

.edit-label {
    margin: auto;
    padding: 2%;
    font-size: 25px;
}

.btn-submit {
    padding: 5%;
}