<div class="container">
    <div class="frame">
        <mat-card>
            <mat-card-content>
                <form [formGroup]="f" (ngSubmit)="submitHandler(f.value)">
                    <div class="edit-label">
                        <mat-label class="label-form">EDIT PROFILE</mat-label>
                    </div>
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Enter username</mat-label>
                            <input name="username" placeholder="Gosho" formControlName="username" matInput>
                            <mat-hint *ngIf="f.get('username').touched && f.get('username').errors?.required">Username is required!</mat-hint>
                            <mat-hint *ngIf="f.get('username').touched && f.get('username').errors?.minlength">Username must be at least 4 characters!</mat-hint>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Enter Email</mat-label>
                            <input name="email" placeholder="example@example.com" formControlName="email" matInput>
                            <mat-hint *ngIf="f.get('email').touched && f.get('email').errors?.required">Email is required!</mat-hint>
                            <mat-hint *ngIf="f.get('email').touched && f.get('email').errors?.emailValidator">Email is incorrect!</mat-hint>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Enter Image Url</mat-label>
                            <input name="image" placeholder="http://example@example.com/image.jpg" formControlName="image" matInput>
                            <mat-hint *ngIf="f.get('image').touched && f.get('image').errors?.required">Image is required!</mat-hint>
                            <mat-hint *ngIf="f.get('image').touched && f.get('image').errors?.imageValidator">Image URL is incorrect!</mat-hint>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Enter old password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" name="oldPassword" placeholder="******" formControlName="oldPassword">
                            <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
                                <mat-icon>{{!hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                            </button>
                            <mat-hint *ngIf="f.get('oldPassword').touched && f.get('oldPassword').errors?.required">Password is required!</mat-hint>
                            <mat-hint *ngIf="f.get('oldPassword').touched && f.get('oldPassword').errors?.minlength">Password must be at least 4 characters!</mat-hint>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Enter new password</mat-label>
                            <input matInput [type]="hideRepeat ? 'password' : 'text'" name="newPassword" placeholder="******" formControlName="newPassword">
                            <button mat-icon-button matSuffix (click)="hideRepeat = !hideRepeat" type="button">
                                <mat-icon>{{!hideRepeat ? 'visibility' : 'visibility_off'}}</mat-icon>
                            </button>
                            <mat-hint *ngIf="f.get('newPassword').touched && f.get('newPassword').errors?.required">Enter new password is required!</mat-hint>
                            <mat-hint *ngIf="f.get('newPassword').touched && f.get('newPassword').errors?.rePassCheck">Enter new password must be the same as password!</mat-hint>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-label>Gender: </mat-label>
                        <br>
                        <mat-radio-group fxLayoutGap="20px" formControlName="gender" name="gender">
                            <mat-radio-button value="male" [checked]="true">Male</mat-radio-button>
                            <mat-radio-button value="female">Female</mat-radio-button>
                        </mat-radio-group>
    
                    </div>
                    <div class="btn-submit">
                        <button mat-raised-button type="submit">EDIT</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>