<div class="container">

    <div class="titles">
        <div class="title">
            <mat-icon>place</mat-icon><div>Created</div>
        </div>
        <div class="title">
            <mat-icon>place</mat-icon><div>In transit</div>
        </div>
        <div class="title">
            <mat-icon>place</mat-icon><div>Completed</div>
        </div>
    </div>
    <div class="progress">
        <div class="progress-bar-nok">
            <div class="progress-bar" #statusBar></div>
        </div>
    </div>
</div>
