mat-icon {
    font-size: 25px;
    justify-content: center;
    margin:  10px 10px 0px 5px;
}

mat-list-item {
    cursor: pointer;
}

object {
    width: 70px;
    height: 70px;
}

span {
    margin: 10px;
}


a{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;

}
a:hover, a:active{
    cursor: pointer;
    color: lightgray;
}
.navigation{
    margin: auto;
    padding: 0;
    list-style-type: none;
}

a.menu-items{
    color: gray;
}
