<mat-toolbar color="primary">
    <!-- <a class="logo-container">
        <div class="logo">
            <div class="line lineLong"></div>
            <div class="line lineShort"></div>
            <div class="circle firstCircle"></div>
            <div class="circle secondCircle"></div>
            <div class="circle thirdCircle"></div>
        </div>
    </a> -->
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="toggle()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>

    <div fxFlex fxLayout fxLayoutAlign="start">
        <a routerLink="/home">Courier EXPRESS</a>
    </div>

    <div fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="25px" class="navigation">
            <ng-container *ngIf="isLogged$ | async;then isLoggedIn else isNotLoggedIn "></ng-container>
        </ul>
    </div>
</mat-toolbar>


<ng-template #isLoggedIn>
    <li>
        <mat-list-item [matMenuTriggerFor]="clientMenu">
            <a mat-list-item>Client Center</a>
        </mat-list-item>
        <mat-menu #clientMenu="matMenu">
            <a class="menu-items" mat-menu-item routerLink="/client-center/claims">Claims</a>
            <a class="menu-items" mat-menu-item routerLink="/client-center/q&a">Q&A</a>
            <a class="menu-items" mat-menu-item routerLink="/client-center/services">Services</a>
        </mat-menu>
    </li>
    <li>
        <mat-list-item [matMenuTriggerFor]="shipments">
            <a mat-list-item>Shipments</a>
        </mat-list-item>
        <mat-menu #shipments="matMenu">
            <a class="menu-items" mat-menu-item routerLink="/shipments/create">Create Shipment</a>
            <a class="menu-items" mat-menu-item routerLink="/shipments">My shipments</a>
        </mat-menu>
    </li>
    <li>
        <mat-list-item>
            <a mat-list-item routerLink="/user/profile">Profile</a>
        </mat-list-item>
    </li>
    <li *ngIf="(isAdmin$ | async)">
        <mat-list-item>
            <a mat-list-item routerLink="/admin">Admin Panel</a>
        </mat-list-item>
    </li>
    <li>
        <a (click)="logout()">Logout</a>
    </li>
</ng-template>

<ng-template #isNotLoggedIn>
    <li>
        <a routerLink="/auth/login">Login</a>
    </li>
    <li>
        <a routerLink="/auth/register">Register</a>
    </li>
</ng-template>