
div.container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding-top: 5%;
    display: flex;
}

mat-card {
    margin: auto;
    border-radius: 10px;
    text-align: center;
}

mat-label.label-form {
    font-weight: bold;
}

.claim-label {
    margin: auto;
    padding: 2%;
    font-size: 25px;
}

div.btn-submit{
    margin: auto;
    padding: 5px;
    position: relative;
    text-align: center;
}

textarea {
    width: 300px;
    height: 170px;
}

.mat-card.mat-focus-indicator {
    box-shadow: none
}

mat-form-field {
    margin: auto;
    padding: 5px;
    width: 350px;
    display: block;
    position: relative;
    text-align: justify;
}

.frame {
    height: 100%;
    width: 100%;
    max-width: 800px;
}

mat-hint {
    font-size: 15px;
}