<div class="layout" fxFlex fxLayout.xs="column" fxLayoutAlign.xs="space-around center" >
    <app-loader *ngIf="isLoading"></app-loader>
    <div class="profile">

        <div class="profile-layout">
            <div class="profile-header">
                <div class="profile-title">Welcome, 
                    <ng-container *ngIf="userData?.gender === 'male';then isMale else isFemale "></ng-container>
                    <span *ngIf="(isAdmin$ | async)">Admin </span>
                    {{(user$ | async)?.username}}
                </div>
            </div>
            <div class="profile-content">
                    <img mat-card-image [src]="(user$ | async)?.image">
                    <p>You have {{(user$ | async)?.shipments?.length}} shipments in transit.</p>
            </div>
            <div class="profile-actions">
                <ul>
                    <li>
                        <button class="edit btn" mat-button (click)="toggleView(controlView)">Edit profile</button>
                    </li>
                    <li>
                        <button class="create shipment btn" mat-button (click)="toggleView(controlCreateShipment)">Create shipment</button>
                    </li>
                    <li>
                        <button class="my-shipments btn" mat-button (click)="toggleView(controlViewShipments)">My shipments</button>
                    </li>
                    <li>
                        <button class="register claim btn" mat-button (click)="toggleView(controlViewClaim)">Register Claim</button>
                    </li>
                    <li>
                        <button class="delete-user" mat-button (click)="openModal()">Delete Account</button>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <div class="container" fxFlex.xs="1">
            <app-edit id="editMode" #controlView="appIsVisible" [appIsVisible]="controls.editMode"></app-edit>
            <app-register-claim id="claimMode" #controlViewClaim="appIsVisible" [appIsVisible]="controls.claimMode"></app-register-claim>
            <app-shipments id="myShipments" #controlViewShipments="appIsVisible" [appIsVisible]="controls.myShipments"></app-shipments>
            <app-create-shipment id="createShipment" #controlCreateShipment="appIsVisible" [appIsVisible]="controls.createShipment"></app-create-shipment>

    </div>

</div>

<ng-template #isMale><span>Mr. </span></ng-template>
<ng-template #isFemale><span>Mrs. </span></ng-template>