<div class="layout" fxFlex fxLayout.xs="column" fxLayoutAlign.xs="space-around center">
    <app-loader *ngIf="isLoading"></app-loader>
    <div class="profile">

        <div class="profile-layout">
            <div class="profile-header">
                <div class="profile-title">Welcome,
                    <ng-container *ngIf="userData?.gender === 'male';then isMale else isFemale "></ng-container>
                    {{(user$ | async)?.username}}
                    <br>
                    <span *ngIf="(isAdmin$ | async)">/ Admin /</span>
                </div>
            </div>
            <div class="profile-content">
                <img mat-card-image [src]="(user$ | async)?.image">
                <p>You have {{(user$ | async)?.shipments?.length}} shipments created.</p>
            </div>
            <div class="profile-actions">
                <ul>
                    <li [ngClass]="!controls.editMode ? 'is-clicked': ''" (click)="toggleView(controlView)">Edit profile </li>
                    <li [ngClass]="!controls.myShipments  ? 'is-clicked': ''" (click)="toggleView(controlViewShipments)">My shipments</li>
                    <li [ngClass]="!controls.createShipment  ? 'is-clicked': ''" (click)="toggleView(controlCreateShipment)">Create shipment</li>
                    <li [ngClass]="!controls.claimMode  ? 'is-clicked': ''" (click)="toggleView(controlViewClaim)">Register Claim</li>
                    <li class="delete-user" (click)="openModal()">Delete Account</li>
                </ul>
            </div>
        </div>

    </div>

    <div class="container" fxFlex.xs="1">
        <app-edit id="editMode" #controlView="appIsVisible" [appIsVisible]="controls.editMode"
            (isEditProfile)="isEditProfile($event)"></app-edit>
        <app-register-claim id="claimMode" #controlViewClaim="appIsVisible" [appIsVisible]="controls.claimMode">
        </app-register-claim>
        <app-shipments id="myShipments" #controlViewShipments="appIsVisible" [appIsVisible]="controls.myShipments"
            [isProfile]="true"></app-shipments>
        <app-create-shipment id="createShipment" #controlCreateShipment="appIsVisible"
            [appIsVisible]="controls.createShipment"></app-create-shipment>

    </div>

</div>

<ng-template #isMale><span>Mr. </span></ng-template>
<ng-template #isFemale><span>Mrs. </span></ng-template>