<div class="layout">
    <app-loader *ngIf="isLoading"></app-loader>
    <app-alert-message *ngIf="hasError"></app-alert-message>
    <div class="content">

        <ng-container *ngIf="questions?.length > 0">
            <div fxLayout fxLayoutAlign="center center">
                <mat-form-field fxFlex="40%" fxFlex.xs="80%">
                    <input matInput type="text" [(ngModel)]="searchValue" placeholder="Filter">
                </mat-form-field>
            </div>
            <div class="table-content">

                <table>
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Title</th>
                            <th>Info</th>
                            <th>Delete</th>
                        </tr>
                    </thead>

                    <tbody *ngFor="let data of questions | supportQuestionSearch: searchValue">
                        <tr #dataRow>
                            <td>{{data.email}}</td>
                            <td #dataId [id]="data._id">{{data.title}}</td>
                            <td>
                                <button mat-icon-button color="accent" (click)="toogleInfo(data)">
                                    <mat-icon class="mat-18">info</mat-icon>
                                </button>
                            </td>
                            <td>
                                <button mat-icon-button color="warn" (click)="openModal($event, dataId?.id, dataRow)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </tr>
                        <tr *ngIf="data.showDetails">
                            <td colspan="5">
                                <span>{{data.description}}</span>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>

            </div>
        </ng-container>
    </div>
</div>

