mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    background-color: white;
}


mat-sidenav {
    width: 300px;
}


footer {
    position: relative;
    bottom: -130px;
    height: 100%;
    max-height: 70px;
    flex: 1 0 auto
}

