<div class="layout">
    <header>
        <img src="../../../assets/images/customer-support.jpg">
        <div class="row">
            <h1 class="header">Client Center & Service Information</h1>
        </div>
    </header>
    <div class="main-container">
        <div class="map-container">
            <h3 class="title">Offices</h3>
            <div *ngIf="location">
                <h4>You are located in {{location?.city}}, {{location?.principalSubdivision}}, {{location?.countryName}}</h4>
            </div>
            <div class="map">
                <iframe src="https://www.google.com/maps/d/embed?mid=1Ezm7fotbYGcxTgmzt8tHtVmmOWR41A6h" width="600"
                    height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="container">
            <h3 class="title">About us:</h3>
            <div class="wrapper">
                <p class="text">
                    <img class="office" src="../../../assets/images/office-2360063_640.jpg" alt="Office" srcset="">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus modi voluptates
                    dignissimos odit omnis, non explicabo corporis? Ipsam doloremque perspiciatis consequatur
                    praesentium id
                    similique ab amet dicta eum, quas corporis.Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Temporibus modi voluptates
                    dignissimos odit omnis, non explicabo corporis? Ipsam doloremque perspiciatis consequatur
                    praesentium id
                    similique ab amet dicta eum, quas corporis.Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Temporibus modi voluptates
                    dignissimos odit omnis, non explicabo corporis? Ipsam doloremque perspiciatis consequatur
                    praesentium id
                    similique ab amet dicta eum, quas corporis.Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Temporibus modi voluptates
                    dignissimos odit omnis, non explicabo corporis? Ipsam doloremque perspiciatis consequatur
                    praesentium id
                    similique ab amet dicta eum, quas corporis.
                </p>
            </div>
        </div>
        <div class="container">
            <h3 class="title">Service Information:</h3>
            <div class="wrapper">
                <p class="text prices">
                    Our shipments are only from office to office. 
                    The prices are in US dollars per one item. All fees included.
                </p>
                <app-service-prices></app-service-prices>
                <p class="text prices">We are working to extend our services.</p>
            </div>
        </div>
        <div class="container">
            <h3 class="title">Contact with us:</h3>
            <div class="wrapper">
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus modi voluptates
                    dignissimos odit omnis, non explicabo corporis? Ipsam doloremque perspiciatis consequatur
                    praesentium id similique ab amet dicta eum, quas corporis.
                </p>
                <div class="contacts">
                    <div class="contact-form">
                        <app-contact></app-contact>
                    </div>
                    <div class="other-contacts">
                        <h4>Other Contacts </h4>
                        <p>Central phone: <span> +359 89 898 9898</span></p>
                        <p>Shipping support: <span> +359 87 787 8787</span></p>
                        <p>Claim support: <span> +359 88 767 6767</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>