<div class="container">
    <div class="frame">
        <mat-card>
            <mat-card-content>
                <form [formGroup]="f" (ngSubmit)="newsHandler(f.value)">
                    <div class="label">
                        <mat-label class="edit-label">Create News</mat-label>
                    </div>
                    <div>
                        <mat-label>Enter title</mat-label>
                        <mat-form-field appearance="fill">
                            <input type="text" name="title" placeholder="News title" formControlName="title" matInput>
                            <mat-hint *ngIf="f.get('title').touched && f.get('title').errors?.required">Title is required!</mat-hint>
                            <mat-hint *ngIf="f.get('title').touched && f.get('title').errors?.minlength">Title must be at least 4 characters!</mat-hint>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-label>Enter Image</mat-label>
                        <mat-form-field appearance="fill">
                            <input type="text" name="imageUrl" placeholder="http://pic.com/img.jpg" formControlName="imageUrl" matInput>
                            <mat-hint *ngIf="f.get('imageUrl').touched && f.get('imageUrl').errors?.required">Image Url is required!</mat-hint>
                            <mat-hint *ngIf="f.get('imageUrl').touched && f.get('imageUrl').errors?.imageValidator">Image URL is incorrect!</mat-hint>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-label>Enter Description</mat-label>
                        <mat-form-field appearance="fill">
                            <textarea name="description" placeholder="lorem ipsum" formControlName="description" matInput></textarea>
                            <mat-hint *ngIf="f.get('description').touched && f.get('description').errors?.required">Description is required!</mat-hint>
                            <mat-hint *ngIf="f.get('description').touched && f.get('description').errors?.minlength">Description must be at least 20 characters!</mat-hint>
                        </mat-form-field>
                    </div>

                    <div class="btn-submit">
                        <button mat-raised-button type="submit">Submit</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>