<div class="layout">
    <app-loader *ngIf="isLoading"></app-loader>
    <app-alert-message *ngIf="hasError"></app-alert-message>
    <mat-card>
        <mat-card-content>
            <form [formGroup]="f" (ngSubmit)="submit(f.value)">
                <div class="label">
                    <mat-label class="form-label">Ask our support</mat-label>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Title</mat-label>
                        <mat-hint *ngIf="f.get('title').touched && f.get('title').errors?.required">Title is required !
                        </mat-hint>
                        <mat-hint *ngIf="f.get('title').touched && f.get('title').errors?.minlength">Title must be at
                            least 5 characters !</mat-hint>
                        <input type="text" name="title" placeholder="Title" formControlName="title" matInput>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <mat-hint *ngIf="f.get('email').touched && f.get('email').errors?.required">Email is required !
                        </mat-hint>
                        <mat-hint *ngIf="f.get('email').touched && f.get('email').errors?.minlength">Email must be at
                            least 5 characters !</mat-hint>
                        <input type="text" name="email" placeholder="Email" formControlName="email" matInput>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>How can we help you?</mat-label>
                        <mat-hint *ngIf="f.get('description').touched && f.get('description').errors?.required">
                            Description is required!</mat-hint>
                        <mat-hint *ngIf="f.get('description').touched && f.get('description').errors?.minlength">
                            Description must be at least 10 characters!</mat-hint>
                        <textarea type="text" name="description" placeholder="Description" formControlName="description"
                            matInput></textarea>
                    </mat-form-field>
                </div>
                <br>
                <div class="btn-submit">
                    <button mat-raised-button type="submit">Submit</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>